* {
    font-family: Arial, Helvetica, sans-serif;
    color: #2d3c4d;
}

html,
body {
    width: 240px;
    height: 320px;
}

caption {
    caption-side: top;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

th,
td {
    font-size: 0.8rem;
    border-bottom: 1px solid #eeeeee;
    text-align: left;
    padding: 8px 10px;
}

details > summary {
    background-color: cornflowerblue;
    padding: 8px 5px;
    color: #eeeeee;
}
