* {
    font-family: Arial, Helvetica, sans-serif;
    color: #2d3c4d;
}

html {
	display: flex;
	justify-content: center;
}

body {
	width: 240px;
	height: 320px;
	margin: 0 3%;
}

caption {
    caption-side: top;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    font-size: 0.8rem;
    border-bottom: 1px solid #eeeeee;
    text-align: left;
    padding: 8px 10px;
}

details > summary {
    background-color: cornflowerblue;
    padding: 8px 5px;
    color: #eeeeee;
}

input, textarea {
	display: flex;
}

@font-face {
  font-family: Kenteken;
  src: url('kenteken.woff2') format('woff2');
}

.kenteken {
	position: relative;
	display: flex;
	align-items: center;
	width: 95%;
	margin: 3% auto;
	border: solid black 2px;
	border-radius: 5px;
}

.kenteken::before {
	content: '';
	width: 2rem;
	background-color: #2662a2;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('kenteken-eu-nl.svg');
	background-size: 50% 70%;
	top: 0;
	bottom: 0;
	position: absolute;
}

.kenteken-input {
	width: 101%;
	border: none;
	font-size: 1.7rem;
	font-family: Kenteken;
	color: #111111;
	background-color: #f4be04;
	text-transform: uppercase;
	padding-left: 15%;
	text-align: center;
}
